{{ extend 'layout.html' }}
{{ _list = 'list' }}

{{block header}}
  <h2>{{=T('Events')}}</h2>
{{end}}

{{block header_menu}}
  {{=search}}
  {{if auth.has_membership('root') or auth.has_membership('admin'):}}
    <a 
      href="{{=URL('new')}}" 
      type="button" 
      class="btn btn-outline-primary me-2"
    >
      <i class="bi bi-plus-lg"></i>
      {{= T('Add') }}
    </a>
  {{pass}}
{{end}}

<!-- define the paginator -->
{{ block content }}
{{ if rows: }}
{{ include 'paginator.html' }}

<br />
<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      {{ for row in rows: }}
        {{ include 'events/event.html' }}
      {{ pass }}
    </div>
  </div>
</div>

{{ include 'paginator.html' }}
{{ pass }}

{{ end }}