{{ extend 'layout.html' }}

{{ block header }}
  <h3>{{= guest.name }} &nbsp;
    <small class="h6">
      <a href="mailto:{{= guest.email }}">{{= guest.email }}</a> &nbsp;&nbsp;
      {{
        if guest.status=="JGC":
          color, status = "warning", T('registered guest - only generate credit')
        elif guest.status=="GWR":
          color, status = "danger", T('registered guest')
      }}  
      <span class="badge bg-{{= color }}">{{= status }}<span>
      {{ pass }}
    </small>
  </h3>
{{ end }}

{{ block header_menu }}
  {{ if not guest.status=="GWR" or guest.status=="JGC": }}
    {{
      if guest.status=="GC":
        btn = "success"
        txt = T("generate credit")
      else:
        btn = "primary"
        txt = T('subscribe')
      pass
    }}
    <button 
      type="button"
      class="btn btn-outline-{{= btn }} {{ if not stay: }}disabled{{ pass }}"
      onclick="include({{= guest.id }})"
    >
      <i class="bi bi-box-arrow-in-right"></i> 
      {{= txt }}
    </button>
  {{ pass }}

  {{
    if session.register.late:
      link = URL('register', 'register_step1', vars={'evenid':evenid, 'centid':centid, 'late':True})
    else:
      link = URL('register', 'register_step1', vars={'evenid':evenid, 'centid':centid})
    pass
  }}
  <button 
    type="button"
    class="btn btn-outline-info"
    onclick="window.open('{{ =link }}', '_self')"
  >
    <i class="bi bi-chevron-left"></i>
    {{= T('Back') }}
  </button>

{{ end }}

{{ block content }}
<div class="row">
  <div class='col-sm-2'>
    <br />
    <div>
      {{ include 'guest/image.html'}}
    </div>
  </div>

  <div class="col-sm-5">
    <table class="table table-condensed table-hover">
      <tr>
        <th width="25%">{{= T('center') }}</th>
        <td>{{= guest.center.center }} - {{= guest.center.city }} ({{= guest.center.country }})</td>
      </tr>
      <tr>
        <th>{{= T('live in') }}</th>
        <td>{{= guest.city }} - {{= guest.state_prov }} - {{= guest.country }}</td>
      </tr>
      {{ if guest.id_card: }}
        <tr>
          <th>{{= T('id card') }}</th>
          <td>{{= guest.id_card }}</td>
        </tr>
      {{ pass }}
      {{ if guest.birthday: }}
        <tr>
          <th>{{= T('birthday') }}</th>
          <td>{{= guest.birthday.strftime('%d/%m/%y') }} &nbsp;&nbsp;&nbsp;{{= guest.age }} {{= T('years') }}</td>
        </tr>
      {{ pass }}
      {{ if guest.cell_phone: }}
        <tr>
          <th>{{= T('cell') }}</th>
          <td>{{= phone_format(guest.cell_phone) }}</td>
        </tr>
      {{ pass }}
      {{ if guest.sos_contact: }}
        <tr>
          <th>{{= T('sos contact') }}</th>
          <td>{{= guest.sos_contact }}</td>
        </tr>
      {{ pass }}
      {{ if guest.sos_phone: }}
        <tr>
          <th>{{= T('sos phone') }}</th>
          <td>{{= phone_format(guest.sos_phone) }}</td>
        </tr>
      {{ pass }}
      {{ if guest.ps: }}
        <tr>
          <th>{{= T('ps') }}</th>
          <td>{{= guest.ps }}</td>
        </tr>
      {{ pass }}

    </table>
    <button 
      type="button"
      class="btn btn-outline-secondary"
      onclick="window.open('{{= URL('guest','edit', vars={'guesid':guest.id, 'on_reg': True}) }}', '_self')"
    >
      <i class="bi bi-pencil"></i>
      {{= T('Edit') }}
    </button>
  </div>

  <div class="col-sm-5">
    {{ if stay: }}
      <table class="table table-condensed table-hover">
        {{ if stay[0]['lodge']: }}
          <tr>
            <th width="25%">{{=T('lodge')}}</th>
            <td>{{= LODGE_TYPES[stay[0]['lodge']] }}</td>
          </tr>
        {{ pass }}
        {{ if stay[0]['no_stairs'] or stay[0]['no_top_bunk']: }}
          <tr>
            <th>{{= T('restrictions') }}</th>
            <td>
              {{ if stay[0]['no_stairs']: }}
                <span class="label label-danger">escadas</span>
              {{ pass }}
              {{ if stay[0]['no_top_bunk']: }}
                <span class="label label-danger">cama de cima</span>
              {{ pass }}
            </td>
          </tr>
        {{ pass }}
        {{ if stay[0]['arrival_date'] or stay[0]['arrival_time']: }}
          <tr>
            <th>{{= T('arrival') }}</th>
            <td>
              {{= ARRIVAL_DATE[stay[0]['arrival_date']]}}, {{=ARRIVAL_TIME[stay[0]['arrival_time']] }}
            </td>
          </tr>
        {{ pass }}
        {{ if stay[0]['staff']: }}
          <tr>
            <th>{{= T('staff') }}</th>
            <td>
              {{ if stay[0]['staff']: }}
                {{= STAFFS[stay[0]['staff']] }}
              {{ pass }}
            </td>
          </tr>
        {{ pass }}
        {{ if stay[0]['ps']: }}
          <tr>
            <th>{{= T('ps') }}</th>
            <td>{{= stay[0]['ps'] }}</td>
          </tr>
        {{ pass }}
        <tr>
          <th colspan="2">
            
          </th>
        </tr>
      </table>
      <button 
        type="button"
        class="btn btn-outline-secondary"
        onclick="window.open('{{= URL('guest','edit_stay', vars={'stayid':stay[0]['id'], 'guest_id':guest.id, 'on_reg':True}) }}', '_self')"
      >
        <i class="bi bi-pencil"></i>
        {{= T('Edit') }}
      </button>
    {{else:}}
      <div class="alert alert-warning">
        <h4>Nenhuma <b>{{= T('stay') }}</b> pra este Centro de Conferência!</h4>
        <p>
          Inclua uma <b>{{= T('stay') }}</b>, ou contate o Administrador do Sistema caso não tenha permissão para isso.
        </p>
      </div>
      <div>
        <button 
          type="button"
          class="btn btn-outline-primary"
          onclick="window.open('{{=URL('guest','new_stay', vars={'guest_id':guest.id, 'center_id':centid, 'on_reg':True})}}', '_self')"
        >
          <i class="bi bi-plus-lg"></i>
          {{= T('Add') }}
        </button>
      </div>
    {{ pass }}

    {{ if guest.credit: }}
      <p class="h4 mt-4">{{= T('guest credit') }}</p>
      <table class="table table-condensed table-hover">
        <tr>
          <td width="10%"><span class="text-primary"><b>{{=T('$')}}{{=guest.credit}}</b></span></td>
          <td width="90%" style="font-size: .8rem;"><span class="text-secondary">{{=guest.credit_log}}</span></td>
        </tr>
      </table>
    {{pass}}
  </div>
</div>

<!-- modal -->
<div id="show_guest" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shoGuest"></div>
{{ end }}

<script type="text/javascript">
function include(id){
  ajax("{{=URL('register', 'include_guest')}}?guesid="+id, [], ':eval');
  window.location.replace("{{=URL('register', 'register_step2')}}");
};

function goBack() {history.go(-1)};
</script>
