{{ extend 'layout.html' }}

{{ block header }}
  <h3>{{= T('guest') }} 
    &nbsp;&nbsp;<small class="text-secondary">{{= T('edit') }}</small>
  </h3>
{{ end }}

{{ block header_menu }}
  {{ if auth.has_membership('root') or auth.has_membership('admin') or auth.has_membership('office'): }}
    <button type="button" class="btn btn-outline-danger" onclick="delGuest({{=guest}});">
      <i class="bi bi-trash"></i>
      {{= T('Delete') }}
    </button>
  {{ pass }}

  <button type="button" class="btn btn-outline-info" onclick="goBack()">
    <i class="bi bi-chevron-left"></i>
    {{= T('Back') }}
  </button>
{{end}}

{{ block content }}
  {{= form }}
  <br>
{{ end }}

{{ block scripts }}
  <script type="text/javascript">
    function goBack() {history.go(-1)};

    function delGuest(num){
      if (confirm("{{=T('Are you sure')}}?")) {
        ajax("{{=URL('guest', 'delete')}}/"+num, [], ':eval');
        }
    };
  </script>
{{ end }}