{{
  last_iteration = True if row == rows[-1] else False
}}

<tr 
  class="text-{{='muted' if not row.is_active else 'default'}} in_link" 
  onclick="window.open('{{= URL('show', vars={'guesid':row.id}) }}', '_self')"
  {{ if last_iteration: }}
    hx-get="{{= URL('guest', 'infinite_scroll', vars={'page': page + 1, 'term': term}) }}" 
    hx-trigger="revealed" 
    hx-swap="afterend"
    hx-target="this"
  {{ pass }}
>
  <td 
    class="card mb-2" 
    style="max-width: 100%;" 
  >
    <div class="d-flex flex-row g-0">
      <div class="col-sm-1 p-2 text-center">
        {{
          if row.gender=='M':
            _img = 'spm.png'
          else:
            _img = 'spf.png'
          pass
        }}
        <img src="{{= URL('static', 'images', args=_img) }}" class="img-fluid" style="width: 4rem">
      </div>
      <div class="col-sm-11">
        <div class="card-body">
          <h5 class="card-title">{{= shortname(row.name, 30) }}</h5>
          <p class="card-text">
            {{ if row.enrollment: }}<b>{{= row.enrollment }}</b>&nbsp;&nbsp;{{ pass }}
            {{ if row.aspect: }}<i>{{= ASPECTS[row.aspect] }}</i>&nbsp;&nbsp;&nbsp;{{ pass }}
            {{ if row.city: }}{{= '%(city)s - %(state_prov)s(%(country)s)' % row }}&nbsp;&nbsp;&nbsp;{{ pass }}
            {{ if row.cell_phone: }}{{= phone_format(row.cell_phone) }}&nbsp;&nbsp;&nbsp;{{ pass }}
            {{ if row.email: }}<i><a href="mailto:{{= row.email }}">{{= row.email }}</a></i>{{ pass }}
          </p>
        </div>
      </div>
    </div>
  </td>
</tr>
