<ul class="nav nav-pills">
  <li class="nav-item is_link">
    <a class="nav-link active" data-bs-target="#home" data-bs-toggle="pill">
      {{= T('personal') }}
    </a>
  </li>
  <li class="nav-item is_link">
    <a class="nav-link" data-bs-target="#stay" data-bs-toggle="pill">
      {{= T('stay') }}
    </a>
  </li>
  {{ if historic: }}
    <li class="nav-item is_link">
      <a class="nav-link" data-bs-target="#history" data-bs-toggle="pill">
        {{= T('historic') }}
      </a>
    </li>
  {{ pass }}
  {{ if credit_log: }}
    <li class="nav-item is_link">
      <a class="nav-link" data-bs-target="#credit" data-bs-toggle="pill">
        {{= T('credit') }}
      </a>
    </li>
  {{ pass }}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <br />
    <table class="table table-condensed table-hover">
      <tr>
        <th width="20%">{{= T('center') }}</th>
        <td>{{= guest.center.center }} - {{= guest.center.city }} ({{= guest.center.country }})</td>
      </tr>
      <tr>
        <th>{{= T('live in') }}</th>
        <td>{{= guest.city }} - {{= guest.state_prov }} - {{= guest.country }}</td>
      </tr>
      {{ if guest.id_card: }}
        <tr>
          <th>{{= T('id card') }}</th>
          <td>{{= guest.id_card }}</td>
        </tr>
      {{ pass }}
      {{ if guest.birthday: }}
        <tr>
          <th>{{= T('birthday') }}</th>
          <td>{{= guest.birthday.strftime('%d/%m/%y') }} &nbsp;&nbsp;&nbsp;{{= guest.age }} {{= T('years') }}</td>
        </tr>
      {{ pass }}
      {{ if guest.cell_phone: }}
        <tr>
          <th>{{= T('cell') }}</th>
          <td>{{= phone_format(guest.cell_phone) }}</td>
        </tr>
      {{ pass }}
      {{ if guest.sos_contact: }}
        <tr class="text-danger">
          <th>{{= T('sos contact') }}</th>
          <td>{{= guest.sos_contact }}</td>
        </tr>
      {{ pass }}
      {{ if guest.sos_phone: }}
        <tr class="text-danger">
          <th>{{= T('sos phone') }}</th>
          <td>{{= phone_format(guest.sos_phone) }}</td>
        </tr>
      {{ pass }}
      {{ if guest.ps: }}
        <tr>
          <th>{{= T('ps') }}</th>
          <td>{{= guest.ps }}</td>
        </tr>
      {{ pass }}
    </table>
    {{ if auth.has_membership('root') or auth.has_membership('admin') or auth.has_membership('office'): }}
      <a 
        type="button"
        class="btn btn-outline-secondary"
        href="{{= URL('guest','edit', vars={'guesid':guest.id}) }}"
      >
        <i class="bi bi-pencil"></i>
        {{= T('edit') }}
      </a>
    {{ pass }}
  </div>

  <div class="tab-pane" id="stay">
    <br />
    {{ if stays: }}
      {{ print('não pode entrar aqui') }}
      <table class="table table-condensed" style="font-family:monospace; font-size: 8pt;">
        <thead>
          <tr>
            <th width="3%">#</th>
            <th width="7%">{{= T('center') }}</th>
            <th width="9%">{{= T('lodge') }}</th>
            <th width="22%">{{= T('arrival') }}</th>
            <th width="16%">{{= T('restrictions') }}</th>
            <th width="19%">{{= T('staff') }}</th>
            <th width="19%">{{= T('ps') }}</th>
            <th width="5%"></th>
          </tr>
        </thead>
        <tbody>
        {{ for n, stay in enumerate(stays): }}
          <tr>
            <th>{{= n+1 }}</th>
            <td data-toggle="tooltip" data-placement="top" data-container="body" title="{{= center_repr % stay.center }}">
              {{= center_abbr % stay.center }}
            </td>
            <td>
              <span class="label label-primary">
                {{= LODGE_TYPES[stay.lodge] }}
              </span>
            </td>
            <td>{{= ARRIVAL_DATE[stay.arrival_date] }}, {{= ARRIVAL_TIME[stay.arrival_time] }}</td>
            <td>
              {{ if stay.no_stairs: }}<span class="label label-danger">escadas</span>{{ pass }}
              {{ if stay.no_top_bunk: }}<span class="label label-danger">cama de cima</span>{{ pass }}
            </td>
            <td>
              {{ if stay.staff: }}
              <span class="label label-info">
                {{= STAFFS[stay.staff] }}
              </span>
                {{ if stay.description: }}
                <span 
                  class="text-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-container="body"
                  title="{{= stay.description }}"
                >
                  &nbsp;{{= stay.description[:12] }}
                </span>
                {{ pass }}
              {{ pass }}
            </td>
            <td>
              {{ if stay.ps: }}
              <span class="text-danger" data-toggle="tooltip" data-placement="top" data-container="body" title="{{= stay.ps }}">
                {{= stay.ps[:20] }}
              </span>
              {{ pass }}
            </td>
            <td>
              <div class="btn-group btn-group-xs" role="group" aria-label="...">
                <a 
                  type="button"
                  class="btn btn-outline-secondary btn-sm"
                  href="{{= URL('guest', 'edit_stay', vars={'stayid':stay.id, 'guest_id':stay.guesid}) }}"
                >
                  <i class="bi bi-pencil"></i>
                </a>
              </div>
            </td>
          </tr>
        {{ pass }}
        </tbody>
      </table>
    {{ else: }}
      <div class="alert alert-warning">
        <h4>Nenhuma <b>{{= T('stay') }}</b> pra ser exibida!</h4>
        <p>
          Inclua uma <b>{{= T('stay') }}</b>, ou contate o Administrador do Sistema caso não tenha permissão para isso.
        </p>
      </div>
    {{ pass }}
    <div>
      <a
        type="button"
        class="btn btn-outline-primary"
        href="{{= URL('new_stay', vars={'guest_id':guest.id}) }}"
      >
        <i class="bi bi-plus-lg"></i>
        {{= T('Add') }}
      </a>
    </div>
  </div>

  {{ if historic: }}
    <div class="tab-pane" id="history">
      <br />
      <table class="table table-condensed table-hover" style="font-family:monospace; font-size: 9pt;">
        <thead>
          <tr>
            <th>{{= T('date') }}</th>
            <th>{{= T('event') }}</th>
            <th colspan="3">{{= T('details') }}</th>
            <th class="text-right">{{= T('amount') }} $</th>
          </tr>
        </thead>
        <tbody>
        {{ for n, hist in enumerate(historic): }}
        {{ if hist.credit: }}
          <tr data-toggle="modal" data-target="#confirm" onclick="regInfo({{= hist.id }});" class="text-primary">
            <td>{{= hist.evenid.start_date.strftime('%Y/%B') }}</td>
            <td>{{= hist.evenid.activity.activity }} - {{= hist.evenid.center.shortname }} {{= hist.evenid.center.city }}({{= hist.evenid.center.country }})</td>
            <td colspan="3">{{= T('credit launched') }}</td>
            <td class="text-right"><b>{{= hist.amount }}</b></td>
          </tr>
        {{ else: }}
          <tr data-toggle="modal" data-target="#confirm" onclick="regInfo({{= hist.id }});">
            <td>{{= hist.evenid.start_date.strftime('%Y/%B')}}</td>
            <td>{{= hist.evenid.activity.activity }} - {{= hist.evenid.center.shortname }} {{= hist.evenid.center.city }}({{= hist.evenid.center.country }})</td>
            <td>{{= LODGE_TYPES[hist.lodge] }}</td>
            <td>
              {{ if hist.no_stairs: }}<span class="label label-danger">escadas</span>{{ pass }}
              {{ if hist.no_top_bunk: }}<span class="label label-danger">cama de cima</span>{{ pass }}
            </td>
            <td>{{= ARRIVAL_DATE[hist.arrival_date] }} {{= ARRIVAL_TIME[hist.arrival_time] }}</td>
            <td class="text-right">{{= hist.amount }}</td>
          </tr>
        {{ pass }}
        {{ pass }}
        </tbody>
      </table>
    </div>
  {{ pass }}

  {{ if credit_log: }}
    <div class="tab-pane" id="credit">
      <br />
      <div class="row">
        <div class='col-sm-2 text-center'>
          <span class="text-primary" style="font-size: 18pt;"><b>{{= T('$')}}{{=guest.credit }}</b></span>
        </div>
        <div class='col-sm-10'>
          <p class="h4">{{= T('historic') }}</p>
          <table class="table table-condensed table-hover" style="font-family:monospace; font-size: 9pt;">
            {{ for log in credit_log: }}
            <tr>
              <td>{{= log.created_on.strftime('%d/%m/%y %H:%M:%S') }}</td>
              <td><strong>{{= log.credit }}</strong></td>
              <td><strong>{{= CRED_OPER[log.oper].upper() }}</strong></td>
              <td><code style="font-family: monospace;">{{= log.credit_log }}</code></td>
            </tr>
            {{ pass }}
          </table>
        </div>
      </div>
    </div>
  {{ pass }}
</div>