{{ extend 'layout.html' }}

{{ block header }}
  <h3>{{= guest.name }} &nbsp;&nbsp;
    <small class="text-muted">
      <a href="mailto:{{= guest.email }}">{{= guest.email}}</a>
    </small>
  </h3>
{{ end }}

{{block header_menu}}
  <button type="button" class="btn btn-outline-info" onclick="window.open('{{= URL('list') }}','_self');">
    <i class="bi bi-chevron-left"></i>
    {{= T('Back') }}
  </button>
{{end}}

{{ block content }}
  <div class="row">
    <div class='col-sm-2'>
      <div class="p-2 text-center">
        {{ include 'guest/image.html' }}
      </div>
    </div>

    <div class="col-sm-10">
      {{ include 'guest/show_guest.html' }}
    </div>
  </div>

  <!-- modal confirm -->
  <div class="modal fade" id="confirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content" id="modalContent">
        <!-- aqui vai o corpo da modal -->
      </div>
    </div>
  </div>
{{ end }}

{{ block scripts }}
  <script type="text/javascript">
    $(document).ready(() => {
      $('[data-toggle="tooltip"]').tooltip();
    });

    function goBack() { history.go(-1) };
    
    function moreInfo(regid) {
      ajax("{{=URL('reports', 'stay_more_info')}}/" + regid, [], 'confirm');
    }
  </script>
{{ end }}