{{if guests_unallocated:}}
<div class="col-sm-6 well">
  <h4>{{=T('guests unallocated')}}
  {{if auth.has_membership('root') or auth.has_membership('admin'):}}
    {{try:
        if bedroom.id:
          ''
        pass
      except:}}
  <small>
    <button type="button"
            class="btn btn-primary btn-xs pull-right"
            onclick="window.open('{{=URL('accommodations', 'allocate_all')}}', '_self')">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      {{=T('allocate all')}}
    </button>
  </small>
    {{pass}}
  {{pass}}
  </h4>
  <div class="list-group {{if len(guests_unallocated) > 7:}}scroll{{pass}}">
    {{for guest in guests_unallocated:}}
    <span id="{{=guest['id']}}" class="list-group-item">
      <strong>{{=shortname(guest['name'])}}</strong>

      {{try:
          if bedroom.id:}}
      <button type="button"
              class="btn btn-primary btn-xs pull-right"
              onclick="addToBedroom({{=guest['id']}}, {{=guest['regid']}})">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      {{  pass
        except:
          ''
        pass}}

      {{
        label = 'success'
        if guest['age'] > 35 and guest['age'] < 60:
          label = 'warning'
        elif guest['age'] >= 60:
          label = 'danger'
        pass
      }}
      
      <span class="label label-{{=label}} pull-right" style="margin-right: 10px;">{{=guest['age']}}</span>
      {{if guest['no_stairs']:}}
      <img class="pull-right" style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoStairs.png')}}" width="22px">
      {{pass}}
      {{if guest['no_top_bunk']:}}
      <img class="pull-right" style="margin-right: 10px;" src="{{=URL('static', 'images/bedicons', args='NoTopBunks.png')}}" width="22px">
      {{pass}}
    </span>
    {{pass}}
  </div>
</div>
<style media="screen">
div.scroll {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
</style>
{{pass}}
