{{ extend 'layout.html' }}

{{ block header }}
<h3>
  {{= T('allocate all') }}&nbsp;&nbsp;
<small class="text-secondary">{{= T('summary') }}</small>
</h3>
{{end}}

{{block header_menu}}
  <div class="btn-group" role="group">
    <button 
      type="button"
      class="btn btn-outline-info"
      onclick="window.open('{{=URL('accommodations', 'buildings_on_event', vars={'evenid': evenid})}}', '_self')"
    >
      <i class="bi bi-chevron-left"></i>
      {{= T('Back') }}
    </button>
  </div>
{{end}}

{{ block content }}
  <div class="row">
    {{ if allocateds: }}
      <div class="col-sm-6">
        <h3>{{= T('allocateds') }}</h3>
        <table class="table table-condensed table-hover">
          <tr>
            <th width="8%">#</th>
            <th width="42%">{{=T('guest name')}}</th>
            <th width="25%">{{=T('bed type')}}</th>
            <th width="25%">{{=T('bedroom')}}</th>
          </tr>
          {{ for n, a in enumerate(allocateds): }}
            <tr>
              <td>{{= n+1 }}</td>
              <td>{{= a[1] }}</td>
              <td>{{= 'cama de cima' if a[4] == 'top' else 'cama de baixo' }}</td>
              <td>{{= a[3] }}</td>
            </tr>
          {{ pass }}
        </table>
      </div>
    {{ pass }}

    {{ if unallocateds: }}
      <div class="col-sm-6">
        <h3>{{= T('unallocateds') }}</h3>
        <table class="table table-condensed table-hover">
          <tr>
            <th width="8%">#</th>
            <th width="92%">nome</th>
          </tr>
          {{ for n, u in enumerate(unallocateds): }}
            <tr>
              <td>{{= n+1 }}</td>
              <td>{{= u[1] }}</td>
            </tr>
          {{ pass }}
        </table>
      </div>
    {{ pass }}
  </div>

{{ end }}
