{{ extend 'layout.html' }}

{{ block header }}
  {{
    if bedroom.gender=='M':
      gender_txt = 'Masculino'
    elif bedroom.gender=='F':
      gender_txt = 'Feminino'
    else:
      gender_txt = 'Mixto'
    pass
  }}
  <div class="row">
    <div class="col-sm-12">
      <h3>{{= building[1] }}&nbsp;&nbsp;{{= bedroom.bedroom }}
        <small class="text-secondary">
          &nbsp;&nbsp; {{= gender_txt }}
        </small>
      </h3>
    </div>
  </div>
{{end}}

{{ block header_menu }}
  {{ if unalloc: }}
    <button 
      type="button"
      class="btn btn-outline-primary float-end"
      data-bs-toggle="modal" 
      data-bs-target="#confirm"
      hx-trigger="click"
      hx-get="{{= URL('accommodations', 'get_unallocateds', vars={"gender": bedroom.gender, "add": "T"}) }}" 
      hx-target="#modalContent" 
    >
      <i class="bi bi-list-ol"></i>
      {{= T('Manage unallocateds') }}
    </button>
  {{ pass }}
{{ end }}

{{block content}}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{=URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'})}}">{{=T('event')}}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{=URL('accommodations', 'buildings_on_event', vars={'evenid': event.id})}}">{{=T('buildings')}}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{=URL('accommodations', 'building_on_event', vars={'builid':building[0], 'evenid': event.id})}}">{{=T('building')}}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{=URL('accommodations', 'bedrooms_by_gender_on_event', vars={'builid':building[0],'gender':bedroom.gender, 'evenid':event.id})}}">{{=T('bedrooms')}}</a>
    </li>
    <li class="breadcrumb-item active">{{= bedroom.bedroom }}</li>
  </ol>

  <div class="row">

    {{if bedroom.tops:}}
      <div class="col-sm-4">
        <h4>Camas de baixo</h4>
        <table class="table table-striped">
          {{ for i in bedroom.beds: }}
            {{ include 'accommodations/bunkbeds_bottom.html' }}
          {{pass}}
        </table>
      </div>

      <div class="col-sm-4">
        <h4>Camas de cima</h4>
        <table class="table table-striped">
          {{ for i in bedroom.tops: }}
            {{ include 'accommodations/bunkbeds_upper.html' }}
          {{pass}}
        </table>
      </div>
    {{else:}}
      <div class="col-sm-4">
        <h4>Camas</h4>
        <table class="table table-striped">
          {{ for i in bedroom.beds: }}
            {{ include 'accommodations/beds.html' }}
          {{ pass }}
        </table>
      </div>
    {{ pass }}

  </div>

  <!-- modal confirm -->
  <div class="modal fade" id="confirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content" id="modalContent">
        <!-- aqui vai o corpo da modal -->
      </div>
    </div>
  </div>

{{ end }}

{{ block scripts }}
<script type="text/javascript">
  function addToBedroom(gid, rid){
    var bd = {{= bedroom.id }};
    var gn = '{{= bedroom.gender }}';
    var ev = {{= event.id }};
    if (confirm("{{=T('Are you sure')}}?")) {
      ajax(`{{=URL('accommodations', 'add_to_bedroom')}}?evenid=${ev}&bedroomid=${bd}&guesid=${gid}&regid=${rid}&gender=${gn}`, [], ':eval');
    }
  }

  function removeFromBedroom(gs){
    var bd = {{= bedroom.id }};
    var ev = {{= event.id }};
    if (confirm("{{=T('Are you sure')}}?")) {
      ajax(`{{=URL('accommodations', 'remove_from_bedroom')}}?evenid=${ev}&bedroomid=${bd}&guesid=${gs}`, [], ':eval');
    }
  }
</script>
{{ end }}
