{{ extend 'layout.html' }}

{{ block header }}
  {{
    if gender=='M':
      gender_txt = 'Masculino'
    elif gender=='F':
      gender_txt = 'Feminino'
    else:
      gender_txt = 'Mixto'
    pass
  }}
  <h3>{{= building_repr % builid }} {{= gender_txt }}&nbsp;&nbsp; 
    <small class="text-secondary">{{= '{}({})'.format(event.activity.activity, event.center.shortname) }}</small>
  </h3>
{{ end }}

{{ block header_menu }}
  {{ if unalloc: }}
    <button 
      type="button"
      class="btn btn-outline-primary float-end"
      data-bs-toggle="modal" 
      data-bs-target="#confirm"
      hx-trigger="click"
      hx-get="{{= URL('accommodations', 'get_unallocateds', vars={"gender": gender, "add": ""}) }}" 
      hx-target="#modalContent" 
    >
      <i class="bi bi-list-ol"></i>
      {{= T('Manage unallocateds') }}
    </button>
  {{ pass }}
{{ end }}

{{ block content }}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{= URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'}) }}">{{= T('event') }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{= URL('accommodations', 'buildings_on_event', vars={'evenid': event.id}) }}">{{= T('buildings') }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{= URL('accommodations', 'building_on_event', vars={'builid':builid, 'evenid': event.id}) }}">{{= T('building') }}</a>
    </li>
    <li class="breadcrumb-item active">{{=T('bedrooms')}}</li>
  </ol>


  {{ if rows: }}
    {{
      floor, floor_txt = 1000, ''
      for n, row in enumerate(rows):
    }}
    {{
      if row['floor'] != floor:
        floor = row['floor']
        if floor < 0:
          floor_txt = 'subsolo %s' % abs(floor)
        elif floor == 0:
          floor_txt = 'terreo'
        else:
          floor_txt = '%so. andar' % floor
        pass
    }}

      <h4 class="mt-3"><strong>{{= floor_txt }}</strong></h4>

      {{
        for r in rows:
          if r['floor'] == floor:
      }}

          <div 
            class="d-inline-flex flex-row flex-wrap"
            onclick="window.open('{{=URL('accommodations', 'bedroom_on_event', vars={'bedroomid':r['id'], 'evenid':event.id, 'gender':gender})}}', '_self')"
          >
            <div class="p-3 border border-secondary mb-1" style="border-radius: 0.5rem;">
              <h4>{{= r['name'] }}</h4>

              {{ for m in r['mapp']: }}
                <img src="{{=URL('static', 'images/bedicons', args='bed_%s.png' % m)}}">
              {{ pass }}

            </div>
          </div>
          {{ pass }}
        {{ pass }}
      {{ pass }}
    {{ pass }}
  {{ else: }}
    <div class="alert alert-warning">
      Sem QUARTOS pra mostrar aqui.
    </div>
  {{ pass }}

  <!-- modal confirm -->
  <div class="modal fade" id="confirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content" id="modalContent">
        <!-- aqui vai o corpo da modal -->
      </div>
    </div>
  </div>

{{ end }}

{{ block scripts}}
  <script type="text/javascript">
    function goBack() {history.go(-1)};
  </script>
{{ end }}
