{{extend 'layout.html'}}

{{block header}}
{{
  if gender=='M':
    gender_txt = T('masculine')
    gender_color = 'primary'
  elif gender=='F':
    gender_txt = T('feminine')
    gender_color = 'warning'
  else:
    gender_txt = T('mixed')
    gender_color = 'info'
  pass
}}
<h3>{{=building_repr % builid}}&nbsp;&nbsp;
  <small>{{='%s(%s)' %(event.activity.activity, event.center.shortname)}}&nbsp;&nbsp;
    <span class="label label-{{=gender_color}}">{{=gender_txt}}</span>
  </small>
</h3>
{{end}}
{{block link_menu}}{{end}}

{{block control_menu}}
  <ol class="breadcrumb">
    <li><a href="{{=URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'})}}">{{=T('event')}}</a></li>
    <li><a href="{{=URL('accommodations', 'buildings_on_event', vars={'evenid': event.id})}}">{{=T('buildings')}}</a></li>
    <li><a href="{{=URL('accommodations', 'building_on_event', vars={'builid':builid, 'evenid': event.id})}}">{{=T('building')}}</a></li>
    <li class="active">{{=T('bedrooms by gender')}}</li>
  </ol>
{{end}}

<div class="row">
  <div class="col-sm-6">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{
        floor, floor_txt = 1000, ''
        for n, row in enumerate(rows):
      }}
      {{
        if row['floor'] != floor:
          floor = row['floor']
          if floor < 0:
            floor_txt = 'subsolo %s' % abs(floor)
          elif floor == 0:
            floor_txt = 'terreo'
          else:
            floor_txt = '%so. andar' % floor
          pass
      }}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_{{=n}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{=n}}" aria-expanded="true" aria-controls="collapseOne">
              <strong>{{=floor_txt}}</strong>
            </a>
          </h4>
        </div>
        <div id="collapse_{{=n}}" class="panel-collapse collapse {{='in' if n==0 else ''}}" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              {{
                for r in rows:
                  if r['floor'] == floor:
              }}

              <div class="col-sm-12 alert alert-info"
                   onclick="window.open('{{=URL('accommodations', 'bedroom_on_event', vars={'bedroomid':r['id'], 'evenid':event.id, 'gender':gender})}}', '_self')">
                  <h4>{{=r['name']}}</h4>
                  {{for m in r['mapp']:}}
                  <img src="{{=URL('static', 'images/bedicons', args='bed_%s.png' % m)}}" draggable="true">
                  {{pass}}
              </div>
                {{pass}}
              {{pass}}
            </div>
          </div>
        </div>
      </div>
      {{pass}}
      {{pass}}

    </div>
  </div>
  {{if session.mapp.unallocateds:}}
  {{include 'guests_unallocated.html'}}
  {{pass}}
</div>

<script type="text/javascript">
function goBack() {history.go(-1)};

</script>
