{{ extend 'layout.html' }}

{{ block header }}
  {{
    if gender=='M':
      gender_txt = 'Masculino'
    elif gender=='F':
      gender_txt = 'Feminino'
    else:
      gender_txt = 'Mixto'
    pass
  }}
  <h3>{{= building_repr % builid }} {{= gender_txt }}&nbsp;&nbsp; 
    <small class="text-secondary">{{= '{}({})'.format(event.activity.activity, event.center.shortname) }}</small>
  </h3>
{{ end }}

{{ block content }}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{= URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'}) }}">{{= T('event') }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{= URL('accommodations', 'buildings_on_event', vars={'evenid': event.id}) }}">{{= T('buildings') }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{= URL('accommodations', 'building_on_event', vars={'builid':builid, 'evenid': event.id}) }}">{{= T('building') }}</a>
    </li>
    <li class="breadcrumb-item active">{{=T('bedrooms')}}</li>
  </ol>


  <div class="row">
    <div class="col-sm-7">

      {{
        floor, floor_txt = 1000, ''
        for n, row in enumerate(rows):
      }}
      {{
        if row['floor'] != floor:
          floor = row['floor']
          if floor < 0:
            floor_txt = 'subsolo %s' % abs(floor)
          elif floor == 0:
            floor_txt = 'terreo'
          else:
            floor_txt = '%so. andar' % floor
          pass
      }}

        <h4 class="mt-3"><strong>{{= floor_txt }}</strong></h4>

        {{
          for r in rows:
            if r['floor'] == floor:
        }}

            <div 
              class="d-inline-flex flex-row flex-wrap"
              onclick="window.open('{{=URL('accommodations', 'bedroom_on_event', vars={'bedroomid':r['id'], 'evenid':event.id, 'gender':gender})}}', '_self')"
            >
              <div class="p-3 border border-secondary mb-1" style="border-radius: 0.5rem;">
                <h4>{{= r['name'] }}</h4>

                {{ for m in r['mapp']: }}
                  <img src="{{=URL('static', 'images/bedicons', args='bed_%s.png' % m)}}">
                {{ pass }}

              </div>
            </div>
            {{ pass }}
          {{ pass }}
        {{ pass }}
      {{ pass }}

      </div>

    {{ if session.mapp.unallocateds: }}
      {{ include 'accommodations/guests_unallocated.html' }}
    {{ pass }}
  </div>

{{ end }}

{{ block scripts}}
  <script type="text/javascript">
    function goBack() {history.go(-1)};
  </script>
{{ end }}
