{{ extend 'layout.html' }}

{{ block header }}
  <h3>{{= T('list of buildings') }}
    &nbsp;&nbsp;
    <small class="text-secondary">{{= '{}({})'.format(event.activity.activity, event.center.shortname) }}</small>
  </h3>
{{end}}

{{ block header_menu }}
  {{ if session.mapp.difference and event.status == 'OPN': }}
    <span class="pull-right">
      {{= T('there is a difference between bedrooms and the mapping') }}
      <strong><a href="#" onclick="updateMapping({{= event.id }});">{{= T('fix it') }}?</a></strong>
    </span>
  {{ pass}}
{{ end}}

{{ block content }}
  <!-- breadcrumb navigator -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{= URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'}) }}">{{= T('event') }}</a>
    </li>
    <li class="breadcrumb-item active">{{= T('buildings') }}</li>
  </ol>
  <hr>

  {{ if rows:}}
  <div class="row">
    <div class="col-sm-7">
      {{ for row in rows: }}
        {{ include 'accommodations/building.html' }}
      {{ pass}}
    </div>
    {{ if session.mapp.unallocateds: }}
      {{ include 'accommodations/guests_unallocated.html' }}
    {{ pass }}
  </div>
  {{ pass }}
{{ end }}


{{ block scripts }}
  <script type="text/javascript">
    $(document).ready(() => {
      $('[data-bs-toggle="tooltip"]').tooltip();
    });

    function addToBedroom(gid) {
      var ev = {{=event.id}};
      if (confirm("{{= T('Are you sure') }}?")) {
        ajax(`{{= URL('accommodations', 'choose_a_bedroom') }}?evenid=${ev}&guesid=${gid}`, [], ':eval');
      }
    }

    function updateMapping(ev) {
      if (confirm("{{=T('Are you sure')}}?")) {
        ajax(`{{= URL('mapping', 'ajax_update_mapping') }}?evenid=${ev}`, [], ':eval');
      }
    }

    function goBack() {history.go(-1)};
  </script>
{{ end }}
