{{ onOff = 'primary' if row.is_active else 'secondary' }}
<div 
  id="{{=row.id}}"
  class="card border border-{{= onOff }} mb-2 me-2" 
  onclick="window.open('{{= URL('building_on_event', vars={'builid':row.id, 'evenid':event.id}) }}', '_self')"
  style="width: 13rem; height: 13rem;"
>
  <div class="text-center text-{{= onOff }} mt-2">
    <i class="bi bi-building h1"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center text-{{= onOff }}">{{= row.building }}</h5>
    <table class="table table-sm">
      {{ if row.male[0]: }}
        <tr>
          <th>Masc.</th>
          <th
            class="text-primary text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="vagas"
          >
            {{= row.male[0] }}
          </th>
          {{ if row.male[1] != 0: }}
          <th
            class="text-danger text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="em uso"
          >
            {{= row.male[1] }}
          </th>
          <th
            class="text-success text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="disponíveis"
          >
            {{= row.male[2] }}
          </th>
          {{ pass }}
        </tr>
      {{ pass }}

      {{ if row.female[0]: }}
        <tr>
          <th>Fem.</th>
          <th
            class="text-primary text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="vagas"
          >
            {{= row.female[0] }}
          </th>
          {{ if row.female[1] != 0: }}
          <th
            class="text-danger text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="em uso"
          >
            {{= row.female[1] }}
          </th>
          <th
            class="text-success text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="disponíveis"
          >
            {{= row.female[2] }}
          </th>
          {{ pass }}
        </tr>
      {{ pass }}

      {{ if row.mixed[0]: }}
        <tr>
          <th>Mix.</th>
          <th
            class="text-primary text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="vagas"
          >
            {{= row.mixed[0] }}
          </th>
          {{ if row.mixed[1] != 0: }}
          <th
            class="text-danger text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="em uso"
          >
            {{= row.mixed[1] }}
          </th>
          <th
            class="text-success text-end"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            title="disponíveis"
          >
            {{= row.mixed[2] }}
          </th>
          {{ pass }}
        </tr>
      {{ pass }}

    </table>
  </div>
</div>
