{{extend 'layout.html'}}

{{block header}}
  <h3><strong>{{=building.building}}</strong>&nbsp;&nbsp;
    <small>{{='%s(%s)' %(event.activity.activity, event.center.shortname)}}</small>&nbsp;&nbsp;
  </h3>
{{end}}

{{ block header_menu }}
  {{ if unalloc: }}
    <button 
      type="button"
      class="btn btn-outline-primary float-end"
      data-bs-toggle="modal" 
      data-bs-target="#confirm"
      hx-trigger="click"
      hx-get="{{= URL('accommodations', 'get_unallocateds', vars={"gender": "X", "add": ""}) }}" 
      hx-target="#modalContent" 
    >
      <i class="bi bi-list-ol"></i>
      {{= T('Manage unallocateds') }}
    </button>
{{ pass }}
{{ end }}

{{block content}}
  <!-- breadcrumb navigator -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{= URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'}) }}">{{= T('event') }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{= URL('accommodations', 'buildings_on_event', vars={'evenid': event.id}) }}">{{= T('buildings') }}</a>
    </li>
    <li class="breadcrumb-item active">{{= T('building') }}</li>
  </ol>

{{ if building: }}
  <div class="col-sm-8 d-flex flex-row flex-wrap">
    {{ include 'accommodations/bedrooms.html' }}
  </div>
{{ else:}}
  <div class="alert alert-warning">
    Sem QUARTOS (por gênero) pra mostrar aqui.
  </div>
{{ pass }}

<!-- modal confirm -->
<div class="modal fade" id="confirm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content" id="modalContent">
      <!-- aqui vai o corpo da modal -->
    </div>
  </div>
</div>

{{end}}

<style type="text/css">
</style>

{{ block scripts }}
  <script type="text/javascript">
    function addToBedroom(gid) {
      var ev = {{=event.id}};
      if (confirm("{{=T('Are you sure')}}?")) {
        ajax(`{{=URL('accommodations', 'choose_a_bedroom')}}?evenid=${ev}&guesid=${gid}`, [], ':eval');
      }
    }

    function goBack() {history.go(-1)};
  </script>
{{ end }}
