{{extend 'layout.html'}}

{{block header}}
  <h3><strong>{{=building.building}}</strong>&nbsp;&nbsp;
    <small>{{='%s(%s)' %(event.activity.activity, event.center.shortname)}}</small>&nbsp;&nbsp;
  </h3>
{{end}}

{{block content}}
  <!-- breadcrumb navigator -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{= URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'}) }}">{{= T('event') }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{= URL('accommodations', 'buildings_on_event', vars={'evenid': event.id}) }}">{{= T('buildings') }}</a>
    </li>
    <li class="breadcrumb-item active">{{= T('building') }}</li>
  </ol>

<div class="row">
  <div class="col-sm-7">
    {{ include 'accommodations/bedrooms.html' }}
  </div>
  {{if session.mapp.unallocateds:}}
    {{include 'accommodations/guests_unallocated.html'}}
  {{pass}}
</div>

<div id="confirm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

{{end}}

<style type="text/css">
</style>

{{ block scripts }}
  <script type="text/javascript">
    function addToBedroom(gid) {
      var ev = {{=event.id}};
      if (confirm("{{=T('Are you sure')}}?")) {
        ajax(`{{=URL('accommodations', 'choose_a_bedroom')}}?evenid=${ev}&guesid=${gid}`, [], ':eval');
      }
    }

    function goBack() {history.go(-1)};
  </script>
{{ end }}
