{{ extend 'layout.html' }}

{{ block header }}
  <h3>{{= T('list of buildings') }}
    &nbsp;&nbsp;
    <small class="text-secondary">{{= '{}({})'.format(event.activity.activity, event.center.shortname) }}</small>
  </h3>
{{ end }}

{{ block header_menu }}
  {{ if unalloc: }}
    <button 
      type="button"
      class="btn btn-outline-primary float-end"
      data-bs-toggle="modal" 
      data-bs-target="#confirm"
      hx-trigger="click"
      hx-get="{{= URL('accommodations', 'get_unallocateds', vars={"gender": "X", "add": ""}) }}" 
      hx-target="#modalContent" 
    >
      <i class="bi bi-list-ol"></i>
      {{= T('Manage unallocateds') }}
    </button>
  {{ pass }}
{{ end }}

{{ block content }}
  <!-- breadcrumb navigator -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{= URL('events', 'show', vars={'evenid': event.id, 'admin_view':'T'}) }}">{{= T('event') }}</a>
    </li>
    <li class="breadcrumb-item active">{{= T('buildings') }}</li>
  </ol>
  <hr>

  {{ if session.mapp.difference and event.status == 'OPN': }}
    <div class="alert alert-warning">
      {{= T('there is a difference between bedrooms and the mapping') }}
      &nbsp;&nbsp;
      <strong>
        <a href="#" onclick="updateMapping({{= event.id }});">
          {{= T('do you want to fix this') }}?
        </a>
      </strong>
    </div>
  {{ pass }}

  {{ if rows:}}
    <div class="d-flex flex-row flex-wrap">
      {{ for row in rows: }}
        {{ include 'accommodations/building.html' }}
      {{ pass}}
    </div>
  {{ else:}}
    <div class="alert alert-warning">
      Sem PRÉDIOS pra mostrar aqui.
    </div>
  {{ pass }}

  <!-- modal confirm -->
  <div class="modal fade" id="confirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content" id="modalContent">
        <!-- aqui vai o corpo da modal -->
      </div>
    </div>
  </div>

{{ end }}


{{ block scripts }}
  <script type="text/javascript">
    $(document).ready(() => {
      $('[data-bs-toggle="tooltip"]').tooltip();
    });

    function addToBedroom(gid) {
      var ev = {{=event.id}};
      if (confirm("{{= T('Are you sure') }}?")) {
        ajax(`{{= URL('accommodations', 'choose_a_bedroom') }}?evenid=${ev}&guesid=${gid}`, [], ':eval');
      }
    }

    function updateMapping(ev) {
      if (confirm("{{=T('Are you sure')}}?")) {
        ajax(`{{= URL('mapping', 'ajax_update_mapping') }}?evenid=${ev}`, [], ':eval');
      }
    }

    function goBack() {history.go(-1)};
  </script>
{{ end }}
